.header {
    text-align: center;
    font-size:70px;
    position: relative;
    top:150px;
  }

  .Tracking_num
  {
    top:50px;

  }


  .delete_box
  {
    position: absolute;
    
    top: 300px;
    right: 760px;
    left: 760px;
    bottom: 300px;
    width: 400px;
    height: 100px;
  }


  .button
  {
    height: 100px;
    width: 500px;


  }