.containerCreate
{
    margin:auto;
    display: grid;
    grid-template-rows: 45px 80px;
    grid-template-columns: auto auto auto auto auto;
    grid-template-areas: 
    " sp_create sp_create sp_create sp_create sp_create"
    ". . header_create . .";

    
  
    

}

.sp_create
{
    grid-area:sp_create;
}


.header_create{

    margin:auto;
    text-align:center;
    grid-area:header_create;
    font-size:35px;
    width: 500px;
   
    
  }

.gridCreate {
    display: grid;
    justify-content: center;
    align-content: center;
    
    grid-template-areas: 
    " textUp1 . textUp5 "
    " textUp2 . textUp6 "
    " textUp3 . textUp7 "
    " textUp4 . textUp8 "
    "    .    . textUp9 "
    " buttonCreate buttonCreate buttonCreate";



  gap: 5px;
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: repeat(6, 100px);

}


  .textUp1
  {
    
    width: 260px;
    height: 100px;
    grid-area:textUp1;
   




  }

  .textUp2
  {
    margin:auto;
    grid-area:textUp2;
    width: 200px;
    height: 100px;




  }

  .textUp3
  {
    margin:auto;
    grid-area:textUp3;
    width: 260px;
    height: 100px;




  }

  .textUp4
  {

    margin:auto;
    grid-area:textUp4;
    width: 260px;
    height: 100px;




  }

  .textUp5
  {
    margin:auto;
    grid-area:textUp5;
    width: 300px;
    height: 100px;




  }

  .textUp6
  {
    margin:auto;
    grid-area:textUp6;
    width: 300px;
    height: 100px;




  }

  .textUp7
  {
    margin:auto;
    grid-area:textUp7;
    width: 260px;
    height: 100px;




  }

  .textUp8
  {
    margin:auto;
    grid-area:textUp8;
    width: 200px;
    height: 100px;




  }

  .textUp9
  {
    margin:auto;
    grid-area:textUp9;
    width: 260px;
    height: 100px;




  }

  .buttonCreate
  {
    margin:auto;
    grid-area: buttonCreate;
    background: #0645AE;
    border: #0645AE;
    color: #ffffff;
    
    width:160px;
    height: 55px;
  }

  .button_create:sucess:hover
  {
    background:darkblue;
  }
 
 
