.container_delete
{
    display: grid;
    grid-template-rows: 45px 80px 80px 46px;
    grid-template-columns: auto auto auto auto;
    grid-template-areas: 
    " sp_delete sp_delete sp_delete sp_delete sp_delete"
    ". . header_delete . ."
    ". . delete_box_delete . ."
    ". . button_2_delete . ."
}

.sp_delete
{
    grid-area: sp_delete
}

.header_delete {
    margin:auto;
    grid-area: header_delete;
    text-align: center;
    font-size:35px;
    width: 500px;
  }

  .delete_box_delete
  {
    margin:auto;
    grid-area: delete_box_delete;
    width: 400px;
    height: 100px;
    font-size: 25px;
  }
  
  .button_2_delete
  {
    grid-area: button_2_delete;
    background: #0645AE;
    border: #0645AE;
    color: #ffffff; 
    margin: auto;
    width:150px;
    height:46px;
    top: 20px;
  }

  .button_2_delete:sucess:hover
  {
    background:darkblue;
  }
 