.container
{
    display: grid;
    grid-template-rows: 45px 100px 80px 46px;
    grid-template-columns: auto auto auto auto;


    grid-template-areas: 
    " sp sp sp sp sp"
    ". . header . ."
    ". . delete_box . ."
    ". . button_2 . ."
}

.sp
{
    grid-area: sp
}

.header {
    margin:auto;
    grid-area: header;
    text-align: center;
    font-size:25px;
    width: 250px;
  }

 
  .delete_box
  {
    margin:auto;
    grid-area: delete_box;
    width: 400px;
    height: 100px;
    font-size: 25px;   
  }

  .button_2
  {
   
    grid-area: button_2;
    background: #0645AE;
    border: #0645AE;
    color: #ffffff;
    
    margin: auto;
    width:200px;
    height: 46px;
  }

  .button:sucess:hover
  {
    background:darkblue;
  }
 