.container_track
{
    display: grid;
    grid-template-rows: 45px 100px 80px 46px;
    grid-template-columns: auto auto auto auto;


    grid-template-areas: 
    " sp_track sp_track sp_track sp_track sp_track"
    ". . header_track . ."
    ". . delete_box_track . ."
    ". . button_2_track . ."
}

.sp_track
{
    grid-area: sp
}

.header_track {
    margin:auto;
    grid-area: header_track;
    text-align: center;
    font-size:25px;
    width: 250px;
  }

 
  .delete_box_track
  {
    margin:auto;
    grid-area: delete_box_track;
    width: 400px;
    height: 100px;
    font-size: 25px;   
  }

  .button_2_track
  {
   
    grid-area: button_2_track;
    background: #0645AE;
    border: #0645AE;
    color: #ffffff;
    
    margin: auto;
    width:200px;
    height: 46px;
  }

  .button_2_update:sucess:hover
  {
    background:darkblue;
  }
 